body{
	background-color: #FFE796;
	text-align: center;
}

#name {
	margin-top: 5%;
	transition: 0.5s;
}

#name:hover {
	color: ivory;
	transform: scale(1.1);
}

h1 {
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 250%;
}

p {
	font-family: 'Montserrat', sans-serif;
}

a {
	font-family: 'Montserrat', sans-serif;
	font-size: 150%;
	padding-right: 10px;
}

a:link {
	color: black;
}
a:visited {
	color: black;
}
a:hover {
	color: ivory;
}

.block-text{
	width: 600;
	text-align: center;
}

#abouttext {
	padding-right: 200px;
	padding-left: 200px;
	word-spacing: 5px;
	line-height: 30px;
}

#buttons {
	font-size: 70%;
}
