body {
	background-color: #ead1dc;
	text-align: left;
	margin: 0px 96px;
	color: #741b47;
	font-family: monospace;
	max-width: 1000px;
}

#name {
	padding: 5px 0px;
	margin-bottom: 0px;
	transition: 0.5s;
	font-size: 64px;
	font-family: 'Montserrat', sans-serif;
}

#name:hover {
	color: ivory;
	transform: scale(1.1);
	transform-origin: left;
}

h1 {
	font-weight: bold;
}

#links {
	font-size: 32px;
}

.textblock {
	font-size: 18px;
}

a {
	padding-right: 10px;
}

a:link {
	color: #741b47;
}
a:visited {
	color: #741b47;
}
a:hover {
	color: ivory;
}